<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rmp.rmpclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />
    
    <!-- Internet permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:allowBackup="true" 
        >
        
        <!-- MainActivity -->
         <!-- android:name="com.rmp.rmpclient.activities.MainActivity"-->
        <activity
            android:label="@string/app_name"
            android:name="com.rmp.rmpclient.activities.ScreenSlidePagerActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- SinglePoliticianActivity -->
        <activity
            android:label="Profile"
            android:name="com.rmp.rmpclient.activities.SinglePoliticianActivity" >
        </activity>
    </application>

</manifest>
